body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #242635;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}
div{
    margin: 40px auto;
    width: 35%;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    background-color: #5e5f7c;
    color: #fff;
    position: relative;
    top: 200px;
    height: 300px;
    font-size: 30px;
}
h2{
    color: #68eb64;
    font-size: 20px;
}