body {
  font-family: Arial, sans-serif;
  background-color: #c6e9db;
}
.contenedor {
  width: 40%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.campo {
  width: 45%;
  margin-bottom: 20px;
  margin-right: 20px;
}
.camp{
  width: 95%;
  margin-bottom: 20px;
  margin-right: 20px;
}
label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}
input[type="text"], input[type="tel"] {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="email"]{
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.boton {
  width: 100%;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.boton:hover {
  background-color: #3e8e41;
}
.container {
  display: flex;
}

.checkbox-container {
  display: flex;
  margin: 40px auto;
  padding: 10px;
  border: 1px solid #ccc;
  width: 45%;
  font-size: 15px;
  position: relative;
  top: -30px;
  background-color: #fff;
  border-radius: 5px;
}

.checkbox {
  font-size: 15px;
  margin-right: 40px;
}

.checkbox-label {
  font-weight: normal;
}
input[type="checkbox"]{
  margin: 0px 30px;
  margin-left: 5%

}
textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
